@meida (max-width; 600px){

    .container{
        flex-direction: column;
        

        
    }
    
}

.box1{
background-color: red;
width: 25px;
height: 25px;
color: aliceblue;
}
.box2{ 
    background-color: green;
    width: 25px;
    height: 25px;
color: aliceblue;
}
.box3{
    background-color: blue;
   width:   25px;
    height:  25px;
    color: aliceblue;    
}
